
h1 {
    color: white;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.5);
}

input#emoji {

    display: block;
    margin: 0 auto;
    width: 100%;
    font-size: 3em;
    color: #eeeeee;
    border: 0;
    outline: 0;
    background: #2c3e50;
    text-align: center;
    height: 3em;
    line-height: 1em;
    overflow: hidden;
}
input[placeholder] {
    text-overflow: ellipsis;
}
section, div{
    color: #1ABC9C;
}

section.tip {
    text-align: center;
}

input#emoji :focus{
    border: 0;
}

div.main {
    padding-top: 100px;
}
div.error {
    color: #E74C3C;
}
section#features{
    margin-top: 100px;
}

h1.title {
    margin-bottom: 50px;
    font-family: Lobster;
    font-style: normal;
	font-variant: normal;
	font-weight: 100;
}
div.alt {
    font-size: 2em;
    text-align: center;
}
section#optional-content {
    min-height: 200px;
}
div.alt {
    margin-top: 50px;
    font-size: 14px;
}
p.alt {
    cursor: pointer;
    color: white;
    width: 50%;
    margin: 0 auto;
    min-width: 240px;
}
p.suggest-hint {
    color: #bbdefb;
}

span.alt-emoji {
    font-size: 2em;
    margin: 2px;
}

div.footer {
    margin-left: auto;
    margin-right:auto;
    margin-top: 300px;
    display: block;

}
p.footer {
    text-align: center;
}

div.social {
    text-align: center;
}
div.social-item {
    display: inline;
    margin-left: 5px;
    margin-right: 5px;
}

button.copy {
    margin: 0 auto;
    display: block;
}

html, body {
    background: #2c3e50;
}
body {
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

@media (max-width: 600px) {
  body {
    padding-top: 12px;
  }
  h1.title {
    margin-bottom: 12px;
  }
  div.main {
    padding-top: 12px;
  }
  input#emoji {
    height: 1.5em;
  }
}