@import url('//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css');

textarea#emoji {

    display: block;
    margin: 0 auto;
    width: 100%;
    font-size: 24pt;
    color: #C5CAE9;
    border: 0;
    background: #7C4DFF;
    text-align: center;
}

i.fa-github {
    font-size: 2em;
}
div.main {
    padding-top: 100px;
}

h1.title {
    margin-bottom: 50px;
}
div.alt {
    font-size: 2em;
    text-align: center;
}
span.alt {
    cursor: pointer;
    color: white;
}

div.footer {
    margin-left: auto;
    margin-right:auto;
    margin-top: 300px;
    display: block;

}
p.footer {
    text-align: center;
}

body {
    background: #7C4DFF;
}

