
html, body {
    background: #2c3e50;
    color: #1abc9c;
}
body {
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
  padding-bottom: 24px;
}

h1 {
    color: white;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.5);
}

.invis {
    visibility: hidden;
}

input#emoji {
    display: block;
    margin: 0 auto;
    width: 100%;
    font-size: 3em;
    color: #eeeeee;
    border: 0;
    outline: 0;
    background: #2c3e50;
    text-align: center;
    height: 3em;
    line-height: 1em;
    overflow: hidden;
}
input[placeholder] {
    text-overflow: ellipsis;
}

section#optional-content > section {
    text-align: center;
}
section.suggest {
    color: #4F6F8F;
    min-height: 2em;
    word-spacing: 4px;
}
section.suggest span {
    text-decoration: underline;
    cursor: pointer;
}
section.suggest span:hover {
    color: #6792BC;
}

#word-not-found {
    font-weight: 700;
}

input#emoji :focus {
    border: 0;
}

div.main {
    padding-top: 100px;
}
div.error {
    color: #E74C3C;
}
section#features {
    margin-top: 100px;
}

h1.title {
    margin-bottom: 50px;
    font-family: 'Lobster', Helvetica, Arial, Sans-Serif;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
}
div.alt {
    font-size: 2em;
    text-align: center;
    margin-top: 50px;
    font-size: 14px;
}
div.alt .btn {
  padding: 9px;
  min-width: 68px;
  box-sizing: border-box;
}

p.alt {
    cursor: pointer;
    color: white;
    width: 50%;
    margin: 0 auto;
    min-width: 240px;
    min-height: 126px;  /* the height of three buttons */
}
p.suggest-hint {
    color: #bbdefb;
}

span.alt-emoji {
    font-size: 2em;
    margin: 2px;
}

div.footer {
    margin-left: auto;
    margin-right:auto;
    margin-top: 300px;
    display: block;

}
p.footer {
    text-align: center;
}

div.social {
  display: flex;
  align-items: center;
  justify-content: center;
}
div.social-item {
  margin-left: 5px;
  margin-right: 5px;
}

button.copy {
    margin: 0 auto;
    display: block;
}

@media (max-width: 800px) {
  body {
    padding-top: 12px;
  }
  h1.title {
    margin-bottom: 12px;
  }
  div.main {
    padding-top: 12px;
  }
  input#emoji {
    height: 1.5em;
  }
}
