* {
  margin: 0;
  padding: 0;
}

*[hidden] {
  display: none !important;
}

html {
  background: #2c3e50;
  min-height: 100vh;
  font-size: 38px;
  /** nb: does NOT include Arial: this causes Chrome 59? to not combine gender emojis properly */
  font-family: 'Lato', 'Helvetica Neue', 'Helvetica', sans-serif;
}

body {
  box-sizing: border-box;
  padding: 1em;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  color: #b4bcc2;
}

a {
  color: rgba(10, 250, 202, 1.0);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:focus {
  outline: none;
  color: #2c3e50;
  background: rgba(10, 250, 202, 1.0);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

h1 {
  padding-right: 12px;
  font-family: 'Lobster', 'Helvetica Neue', 'Helvetica', sans-serif;
  color: white;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.5);
  font-size: 1em;
}

.grow {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/** button */

button {
  font: inherit;
  border-radius: 4px;
  border: 2px solid transparent;
  background: rgba(0, 0, 0, 0.25);
  padding: 0 8px;
  min-width: 68px;
  font-size: 0.66em;
  line-height: 1.33em;
  cursor: pointer;
  color: white;
  letter-spacing: -1px;
  position: relative;
  display: block;
  will-change: opacity;  /* force layer */
  overflow: hidden;
}

button .rippleJS {
  border-radius: 0;
  color: rgba(10, 250, 202, 1.0);
}

button:disabled {
  visibility: hidden;
  pointer-events: none;
  cursor: default;
}
button .loader {
  opacity: 0;
}

button:hover {
/*  background: rgba(10, 250, 202, 0.2);
*/}

button:focus {
  outline: none;
  border-color: rgba(10, 250, 202, 1.0);
}

/** header/footer */

footer {
  margin-top: 1em;
  opacity: 0.75;
  font-size: 0.4em;
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
}
footer .help {
  margin-bottom: 1em;
  color: #CB6BAA;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  font-weight: 300;
  list-style: none;
  line-height: 1.5em;
}
footer .help em {
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
  font-size: 0.9em;
}
footer .help .small {
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
  line-height: 1.5em;
  font-size: 0.75em;
}
footer .ib {
  display: inline-block;
}

header {
  display: flex;
  align-items: flex-end;
  padding: 0 12px 0.5em;
}
.buttons.ui {
  display: flex;
  flex-flow: row;
  align-items: center;
}
.buttons.ui button {
  min-width: 2em;
  margin-right: 0;
  margin-left: 0.66em;
  font-size: 0.5em;
  line-height: 2em;
}

/** main .ui */

main {
  display: flex;
  align-items: center;
}
main #input {
  flex-grow: 1;
  position: relative;
}

main input,
main .sizer {
  font: inherit;
  font-size: 1em;
  padding: 6px 0;
  line-height: 1.5em;
  text-indent: 15px;
  border: 0;
}
main .overflow-helper {
  width: 100%;
  overflow: hidden;
  visibility: hidden;
  position: absolute;
  border-radius: 12px;
}
main .sizer {
  background: blue;
  border-right: 0;
  padding-right: 0;
  display: inline-block;
  white-space: pre;
}
main input + .focus {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 12px;
  border: 3px solid #606b79;
  /** TODO: show box-shadow always? */
  box-shadow:
      inset 16px 0 8px -8px rgba(74, 87, 103, 0.75),
      inset -16px 0 8px -8px rgba(74, 87, 103, 0.75);
  opacity: 0;
  will-change: opacity;
  transition: opacity 0.2s;
}
main input:focus + .focus {
  opacity: 1;
}
main input {
  position: relative;  /* place above underline */
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.125);
  width: 100%;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 1);
}
main input::selection {
  background: transparent;
}
main input::-moz-selection {
  /** firefox only */
  background: transparent;
}
main input::placeholder {
  color: #cbd6e2;
  opacity: 0.33;
}
main input::-ms-placeholder {
  /** FIXME: rollup into above */
  color: #cbd6e2;
  opacity: 0.33;
}
main input:focus {
  outline: none;
}
main .underline {
  visibility: visible;
  pointer-events: none;
  position: absolute;
  margin: 6px -2px;
  padding: 0 2px;
  height: 1.5em;
  background: white;
  opacity: 0.125;
  will-change: transform;
  border-radius: 0.15em;
}
main .underline.loading {
  display: none !important;
}
main .underline.range {
  padding: 0;
  margin: 10px 0;
  height: calc(1.5em - 8px);  /* extra 4px margin, == 8px */
  border-radius: 0.05em;
  background: rgba(10, 250, 202, 0.5);
  opacity: 0.75;
}

.chooser {
  display: flex;
  flex-flow: row wrap;
  padding-top: 8px;
}
body:not(.has-chooser) .chooser {
  display: none;
}
body.has-value footer .help {
  display: none;
}

.options {
  display: flex;
  flex-flow: row;
  padding-left: 8px;
  z-index: 10;
}

.options h4 {
  color: #0afaca;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  margin-right: 12px;
  font-size: 0.33em;
  line-height: 3em;
}
.options.modifier h4 {
  color: rgb(251, 220, 59);
}

.options .buttons {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}

.options button {
  padding-top: 0.1em;  /** offset emoji lower */
  line-height: 1.23em;
  margin-bottom: 4px;
  margin-right: 4px;
}

/** advanced */

section.advanced {
  margin: 1em;
  display: flex;
  justify-content: center;
}
section.advanced form {
  display: flex;
}
section.advanced button:disabled {
  visibility: visible;
  opacity: 0.5;
}

input.small {
  font: inherit;
  font-size: 0.5em;
  padding: 4px 0;
  line-height: 1.5em;
  text-indent: 9px;
  border: 2px solid transparent;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.125);
  box-sizing: border-box;
  color: #0afaca;
  opacity: 0.5;
}
input.small::placeholder {
  color: #cbd6e2;
  opacity: 0.33;
}
input.small::-ms-placeholder {
  /** FIXME: rollup into above */
  color: #cbd6e2;
  opacity: 0.33;
}
input.small:not(:placeholder-shown) {
  /* FIXME: not supported in IE/Edge */
  opacity: 1;
}
input.small:focus {
  outline: none;
  border-color: #0afaca;
  opacity: 1;
}

form.pending button .loader {
  opacity: 1;
}
form.pending button .text {
  opacity: 0;
}
form.pending button:disabled {
  opacity: 1 !important;
}

/** loader */

@keyframes loader {
  from { transform: scale(0.5); }
  to   { transform: scale(1); }
}
.text {
  will-change: opacity;
  transition: opacity 0.33s;
}
.statusicon {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.statusicon::before {
  opacity: 0;
  will-change: opacity;
  transition: opacity 0.5s;
}
.failure .text {
  opacity: 0;
}
.success .text {
  opacity: 0;
}
.failure .statusicon::before {
  opacity: 1;
  content: '\1f61e';
}
.success .statusicon::before {
  opacity: 1;
  content: '\2705';
}
.loader {
  pointer-events: none;
  width: 0;
  height: 0;
  position: relative;
  left: 50%;
  top: -0.5em;
  font-size: 3em;
  will-change: opacity;
  transition: opacity 0.25s;
}
.loader::after, .loader::before {
  content: '';
  position: absolute;
  width: 1em;
  height: 1em;
  top: 0.33em;
  left: 0;
  opacity: 0.8;
  border-radius: 1000px;
  background: #0afaca;
  will-change: transform, opacity;
  animation: loader infinite 1s alternate ease-in-out;
}
.loader::before {
  margin-left: -0.75em;
  animation-delay: -1s;
}
.loader::after {
  margin-left: -0.25em;
}

/** size overrides */

@media (max-width: 600px) {
  body {
    padding: 0.25em;
  }
}
@media (max-height: 400px) {
  body {
    padding-top: 0.125em;
    font-size: 32px;
  }
}